<div id="imap" ng-init="initMap()">
    <div class="">
        <div id="map-view">
            <div id="imap-view" style="height: 700px"></div>
        </div>
    </div>
    <div class="modal fade" id="election-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4 class="modal-title" id="modal-label">Choose an election</h4>
			  </div>
			  <div class="modal-body">
			    <election-directive></election-directive>
			  </div>
			  <div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			    <button type="button" class="btn btn-primary" ng-click="electionSelected()" >Continue</button>
			  </div>
			</div>
		</div>
	</div>
</div>