html {
	min-height: 100%;
	position:relative;
}

body {
	height: 100%;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
	margin: 0 auto;
}

.container {
	padding-bottom: 2%;
}

.list-group-item {
	position: relative;
}

.auth-body {
	padding-left: 2%;
	padding-right: 2%;
}

.auth-body #login {
	padding-top: 24%;
}

.auth-body #register-outer {
	padding-top: 20%;
}

.auth-body #tally-verification {
	padding-top: 10%;
}

.auth-body .list-group-item {
	box-shadow: 1px 0px 2px #DDDDDD;
}

.form-heading {
	width: 100%;
}

.form-body {
	padding-left: 1.5%;
	padding-right: 1.5%;
}

.error-body {

}

.form-alert {
	margin: 0 auto;
	text-align: center;
	background-color: #F2DEDE;
}

.form-alert p {
	color: #A94442;
}

.suggestion { }

@media only screen and (max-width : 640px) {
	.suggestion {
		display: block;
	}

	.form-footer {
		text-align: center;
	}
}