#dashboard {
	padding-top: 10%;
}

.candidate-inner {
	padding: 1.5%
}

.candidate-left {
	width: 85%;
}

.candidate-entry a,
.candidate-entry a:hover,
.candidate-entry a:visited,
.candidate-entry a:focus {
	border:none;
	outline:none;
	text-decoration:none;
	color:inherit;
}