.nav-header {
	color: #888888;
	padding: 10px 0;
	font-size: 1.2em;
}

.county-search {
	margin: 0 auto;
}

.spacial {
	padding: .6% 0;
}

.container.spacial {
	padding: 10px;
}

#top a {
	color: #428BCA;
}

#top button {
	color: #AAA;
}

.content-container {
	padding: .5% 0;
}

.nav-container {
	padding: 0 5%;
}

.hide {
	visibility: hidden;
}

.imap-info {
    padding: 3px 6px;
    font: 11px/13px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.imap-info h4 {
    margin: 0 0 2px;
    color: #777;
}

.imap-info-entry p {
	color: #555;
}

.imap-elec-year {
	margin: 0 0 2px;
	color: #77A;
}

.imap-elec-year:hover {
	cursor: pointer;
}

.stats {
	font: 12px/14px Arial, Helvetica, sans-serif;
}

.general-heading h4, b {
	margin: 0 0 2px;
    color: #777;
}

.page-header > h1, .page-header > h3 {
	color: #5A5A5A
}

table.gen-table tr:nth-child(1) th,
table.gen-table tr:nth-child(1) td {
	border-top: none;
}

.nav.nav-tabs {
	background-color: #FFF;
}

.tab-content {
	background-color: #FFF;
}

.content-body {
	padding: 1% 0;
	width: 80%;
	margin: 0 auto;
}

.account.well {
	background-color: #FAFAFA;
}

.county-contain {
	width: 98%;
	margin: 0.7% auto;
}

.county-inner {
	background-color: #FFFFFF;

	border: 2px solid #333333;
	border-radius: .25em;
		-moz-border-radius: .25em;
		-webket-border-radius: .25em;
}

.tally-results-heading {
	width: 40%;
}

.tally-results-body {
	margin-top: 0.3%;
	min-height: 400px;
	padding: 0.8% 0;
}

.alert.alert-info {
	width: 90%;
	margin: 0 auto;
	padding: 5%;
	text-align: center;
}

/** live tally feed **/

#live-feed .status {
	padding: 10% 20%;

	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;

	background-color: #FF4444;
	color: #FFFFFF;
}

.feed-nav.navbar-text {
	margin-bottom: 0;
	margin-top: 0;
}

.feed-main {
	clear: both;
}

.map-container {
	position: relative;
}

.map-base {
	position: relative;
}

.map-county {
	position: absolute;
	width: 96%;
	top: 0;
	z-index: 1000;
}

.county-tally-results.ng-enter,
.county-tally-results.ng-leave {
	-webkit-transition: all .6s linear;
    transition: all .6s linear;
}

.county-tally-results.ng-enter,
.county-tally-results.ng-leave.ng-leave-active {
	left: -160px;
}

.county-tally-results.ng-leave,
.county-tally-results.ng-enter.ng-enter-active {
	left: -10px;
}

.dropdown-menu {
	z-index: 2000;
}

.election-nav {
	padding-right: 1%;
	padding-left: 2%;
	padding-bottom: .5%;
	width: 96%;
	margin: 0 auto;
}

.election-nav select {
	display: inline-block;
	width: 49%;
}

.election-nav:after {
	clear: both;
}

.county-heading-panel {
	background-color: #333333;
	padding: 1%;
}

.county-heading-panel button.close {
	opacity: 1;
	color: #EEEEEE !important;
}

.county-body {
	margin-top: 10px;
}