.nav-header {
	color: #888888;
	padding: 10px 0;
	font-size: 1.2em;
}

.county-search {
	margin: 0 auto;
}

.spacial {
	padding: .6% 0;
}

.container.spacial {
	padding: 10px;
}

#top a {
	color: #428BCA;
}

#top button {
	color: #AAA;
}

.content-container {
	padding: .5% 0;
}

.nav-container {
	padding: 0 5%;
}

.hide {
	visibility: hidden;
}

.imap-info {
    padding: 3px 6px;
    font: 11px/13px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.imap-info h4 {
    margin: 0 0 2px;
    color: #777;
}

.imap-info-entry p {
	color: #555;
}

.imap-elec-year {
	margin: 0 0 2px;
	color: #77A;
}

.imap-elec-year:hover {
	cursor: pointer;
}

.stats {
	font: 12px/14px Arial, Helvetica, sans-serif;
}

.general-heading h4, b {
	margin: 0 0 2px;
    color: #777;
}

.page-header > h1, .page-header > h3 {
	color: #5A5A5A
}

table.gen-table tr:nth-child(1) th,
table.gen-table tr:nth-child(1) td {
	border-top: none;
}

.nav.nav-tabs {
	background-color: #FFF;
}

.tab-content {
	background-color: #FFF;
}

.content-body {
	padding: 1% 0;
	width: 80%;
	margin: 0 auto;
}

.account.well {
	background-color: #FAFAFA;
}

.county-contain {
	width: 98%;
	margin: 0.7% auto;
}

.county-inner {
	background-color: #FFFFFF;
	padding: 0 1.8%;
	padding-top: 0.5%;
	padding-bottom: 5%;
}

.tally-results-heading {
	width: 40%;
}

.tally-results-body {
	margin-top: 0.3%;
	min-height: 400px;
	padding: 0.8% 0;
}

.alert.alert-info {
	width: 80%;
	margin: 0 auto;
	padding: 5%;
	text-align: center;
}

/** live tally feed **/

#live-feed .status {
	padding: 10% 20%;

	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;

	background-color: #FF4444;
	color: #FFFFFF;
}

.feed-nav.navbar-text {
	margin-bottom: 0;
	margin-top: 0;
}

.feed-main {
	clear: both;
}

/**  animation **/
.feed.ng-enter, .feed.ng-leave {
	-webkit-transition: all 1.5s linear;
    transition: all 1.5s linear;
}

.feed.ng-enter, 
.feed.ng-leave.ng-leave-active {
	opacity: 0;
}

.feed.ng-leave, 
.feed.ng-enter.ng-enter-active {
	opacity: 1;
}