/* BASE STYLES FOR HOMEPAGE PROMO */

body {
	background-color: #FFF;
	background-color: #428BAA;
}

.home-header {
	background-color: #FFF;
}

.home-header nav {
	width: 790px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 10px 20px;
}

.auth-item {
	padding-left: 10px;
}

.content {
	width: 65%;
	margin: 0 auto;
}