/* BASE STYLES FOR HOMEPAGE PROMO */
html {
	min-height: 100%;
	position: relative;
	background-color: #222222;
}

body {
	height: 100%;

	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0, #575958),
		color-stop(1, #0C0D0D),
		color-stop(1, #000000)
	);

	background-image: -o-linear-gradient(right bottom, #575958 0%, #0C0D0D 100%, #000000 100%);
	background-image: -moz-linear-gradient(right bottom, #575958 0%, #0C0D0D 100%, #000000 100%);
	background-image: -webkit-linear-gradient(right bottom, #575958 0%, #0C0D0D 100%, #000000 100%);
	background-image: -ms-linear-gradient(right bottom, #575958 0%, #0C0D0D 100%, #000000 100%);
	background-image: linear-gradient(to right bottom, #575958 0%, #0C0D0D 100%, #000000 100%);
}

.pin {
	position: relative;
}

.no-js {
	position: absolute;
	width: 70%;
	margin: 0 15%;
	top: 20px;
}

.dim {

	width: 100%;

	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

header .navbar {
	margin: 0 0 !important;
}

.auth-item {
	padding-left: 10px;
}

.contain {
	max-width: 1800px;
	margin: 0 auto;
}

.get-this #honeypot_field {
	display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width : 1024px) {
	.ul {
		margin: 0 !important;
	}

	.text-promo {
		float: none;
		display: block;
		width: 100%;
	}
}

@media only screen and (max-width : 640px) {
	.promo-sheet {
		text-align: center;
	}

	.text-promo {
		text-align: left;
	}

}

