/* BASE STYLES FOR HOMEPAGE PROMO */
html {
	min-height: 100%;
	position: relative;
}

body {
	height: 100%;
}

header a.dropdown-toggle {
	line-height: 40px;
	vertical-align: middle;
}

.pin {
	position: relative;
}

.no-js {
	position: absolute;
	width: 70%;
	margin: 0 15%;
	top: 20px;
}

.dim {

	width: 100%;

	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

header .navbar {
	margin: 0 0 !important;
}

.auth-item {
	padding-left: 10px;
}

.contain {
	max-width: 1800px;
	margin: 0 auto;
}

.get-this #honeypot_field {
	display: none;
}

footer {
	min-height: 100px;
}

/* MEDIA QUERIES */
@media only screen and (max-width : 1024px) {
	.ul {
		margin: 0 !important;
	}

	.text-promo {
		float: none;
		display: block;
		width: 100%;
	}
}

@media only screen and (max-width : 640px) {
	.promo-sheet {
		text-align: center;
	}

	.text-promo {
		text-align: left;
	}

}

