
/**
*   Font Face
*/

@font-face {
    font-family: 'Quicksand';
    src: url('./../../font/Quicksand-Regular.otf');
}

* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    position: relative;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
}

body {
    padding-bottom: 70px;
}

.pool {
    background-color: #428BAA;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
}

.account-header {
	clear: both;
	background-color: #FFFFFF;
}

.content-main {
	clear: both;
}

#interactive-main {
    min-height: 665px;
}

/**
*   Footer
*/

body > footer {
    clear: both;
}

/***
 *  Errors
 */
.server-error {

}

.server-error h1 {

}

/**
*   Media Queries
*/