* {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-size: 100%;
}

body {
    padding-bottom: 70px;
}

ul {
    list-style: none;
}

p, a, strong, small, span, li, h1, h2, h3, label {
    font-family: 'Verdana';
}

.container {
    width: 90%;
    margin: 0 auto;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
}

.account-header {
	clear: both;
	background-color: #FFFFFF;
}

.content-main {
    max-width: 1800px;
    margin: 0.5% auto;
	clear: both;
}

#interactive-main {
    min-height: 95%;
    height: 95%;
}

.legend {
    padding: 5%;
}

/**
*   Footer
*/

.footer {
    clear: both;
}

.footer {
    padding: 2%;
    min-height: 100px;
    color: #FFFFFF;
    background-color: 555555;
    text-align: center;
    line-height: 70px;
}

/**
*   Media Queries
*/