.promo-body {
	background: #C5C5C5 url(/assets/images/home.png) no-repeat top right;
}

.promo-inner {
	padding: 4% 0;
	min-height: 610px;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

.promo-inner .jumbotron {
	margin-top: 200px;
}

.jumbotron {
	background-color: #222222;
	opacity: 0.85;
	border-radius: .25em;
	padding-bottom: 60px !important;
}

.jumbotron h1 {
	color: #EEEEEE;
	font-size: 40px;
}
.jumbotron p {
	color: #CCCCCC;
}

.details {
	padding: 0 1em;
}

.tease {
	float: right;
}

.tease .btn {
	box-shadow: 1px 0 5px #558822;
}

.info {
	clear: both;
	padding: 5%;
	background-color: #222222;
}

.promo-sheet {
	text-align: center;
	width: 100%;
}

.text-promo {
	width: 50%;
}

.text-promo:nth-child(1) {
	float: left;
}

.text-promo:nth-child(2) {
	float: right;
}

.text-promo h1,
.text-promo p {
	color: #EEE;
}

.promo-sheet,
.info-list {
	list-style: none;
	margin-left: 0;
	padding-left: .5%;
}

.info-list li {
	color: #CCCCCC;
}