.promo {
	/*background: #C5C5C5 url(/assets/images/home.png) no-repeat top right;*/
	background-color: #FFFFFF;
	padding-top: 5%;
}

.promo-inner {
	padding: 4% 0;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

.promo-inner .jumbotron {
	margin-top: 20px;
}

.jumbotron {
	opacity: 0.85;
	border-radius: .25em;
	padding-bottom: 60px !important;
}

.jumbotron h1 {
	font-size: 40px;
}

.details {
	padding: 0 1em;
}

.tease {
	float: right;
}

.tease .btn {
	box-shadow: 1px 0 5px #558822;
}

.info {
	padding: 10%;
}

.promo-sheet {
	width: 100%;
}

.text-promo h3 {
	color: #428bca;
}

.text-promo img {
	float: left;
}

.jumbotron h1 {
	color: #222222;
}

.jumbotron p,
.info-list li {
	color: #555555;
}

.boxed {
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
}