.promo {
	background-image: url(/assets/images/home.png);
}

.promo-inner {
	padding: 4% 0;
	min-height: 550px;
	position: relative;
}

.promo-inner .jumbotron {
	position: absolute;
	width: 65%;
	bottom: 1%;
	left: 1%;
}

.jumbotron {
	background-color: #428BAA;
	opacity: 0.85;
	border-radius: .25em;
}

.jumbotron h1,
.jumbotron p {
	color: #EEE;
}

.jumbotron h1 {
	font-size: 48px;
}

.jumbotron p {
	font-size: 12px;
}

.tease {
	position: absolute;
	bottom: .5%;
	right: .5%;
	padding-top: 4%;
	padding-bottom: 4%;
}

.tease .btn {
	background-color: #55AA11;
	box-shadow: 1px 0 5px #55CC22;
}

.info {
	clear: both;
	min-height: 210px;
}

.text-promo {
	padding: 2%;
}

.text-promo h1,
.text-promo p {
	color: #EEE;
}

.info .text-promo:nth-child(1) {
	float: left;
}

.info .text-promo:nth-child(2) {
	float: right;
}

.info-list {
	list-style: none;
	margin-left: 0;
	padding-left: .5%;
}

.info-list li {
	font-size: 0.9em;
	color: #333;
}