.welcome-info {
    color: #FFFFFF;
    opacity: 0.8;
    padding: 5%;
}

.info-pane {
	background-color: #222222;
	border-radius: 0.25em;
    z-index: 2000;
}

.info-pane.info-helper {
	background-color: transparent;
}

.info-pane .alert {
	margin: 0 !important;
	padding: 10% 20%;
}

.alert-vis {
	background-color: #222222;
	color: #FFFFFF;
}

.county-vis {
	opacity: 0.8;
}

.vis-close {
	float: right;
	opacity: 1 !important;
}