.welcome-info {
    color: #FFFFFF;
    opacity: 0.8;
    padding: 5%;
}

.info-pane {
	background-color: #FFFFFF;
	color: #333333;
	font-weight: 500;
    z-index: 2000;
}

.info-pane.info-helper {
	background-color: transparent;
}

.info-pane .alert {
	margin: 0 !important;
	padding: 10% 20%;
}

.info-pane .county-vis {
	background-color: #333333
}

.county-vis {
	opacity: 0.8;
}

.vis-close {
	float: right;
	opacity: 1 !important;
}


.ui-dialog {
	background-color: #FAFAFA;
}

.ui-dialog .info-pane {
	background-color: inherit;
}