.animate-tab.ng-enter,
.animate-tab.ng-leave {
	position: relative;
	-webkit-transition: 0.5s linear all; /* Chrome */
	transition: 0.5s linear all;
}

.animate-tab.ng-enter {
	bottom: -20px;
	opacity: 0;
}

.animate-tab.ng-enter-active {
	bottom: 0px;
	opacity: 1;
}

.animate-tab.ng-leave {
	opacity: 1;
}

.animate-tab.ng-leave-active {
	opacity: 0;
}

.nav-header {
	color: #888888;
}

.county-search {
	margin: 0 auto;
}

.sea {
	border: none;
	border-bottom: 2px solid #EEE;
}

.spacial {
	padding: .6% 0;
}

.container.spacial {
	padding: 10px;
}

#top nav {
	background-color: #FFF;
}

#top a {
	color: #428BCA;
}

#top button {
	color: #AAA;
}

.content-container {
	padding: 1% 0;
}

.nav-container {
	padding: 0 5%;
}

.hide {
	visibility: hidden;
}

.imap-info {
    padding: 3px 6px;
    font: 11px/13px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.imap-info h4 {
    margin: 0 0 2px;
    color: #777;
}

.imap-info-entry p {
	color: #555;
}

.imap-elec-year {
	margin: 0 0 2px;
	color: #77A;
}

.imap-elec-year:hover {
	cursor: pointer;
}

.stats {
	font: 12px/14px Arial, Helvetica, sans-serif;
}

.general-heading h4, b {
	margin: 0 0 2px;
    color: #777;
}

.page-header > h1, .page-header > h3 {
	color: #5A5A5A
}

table.gen-table tr:nth-child(1) th,
table.gen-table tr:nth-child(1) td {
	border-top: none;
}