<h4 class="text-primary">{{g.constituency}}</h4>
<table class="gen-table table">
	<tr>
		<th>registered electors</th>
		<td>{{g.registeredElectors}}</td>
	</tr>
	<tr>
		<th>votes</th>
		<td>{{g.votes}}</td>
	</tr>
	<tr>
		<th>turnout</th>
		<td>{{g.percentTurnout}}%</td>
	</tr>
	<tr>
		<th>invalid ballots</th>
		<td>{{g.invalidBallots}}</td>
	</tr>
	<tr>
		<th>percentage invalid</th>
		<td>{{g.percentInvalid}}%</td>
	</tr>
	<tr>
		<th>valid ballots</th>
		<td>{{g.validVotes}}</td>
	</tr>
	<tr>
		<th>percentage valid</th>
		<td>{{g.percentValid}}%</td>
	</tr>
</table>