<div class="wrap-small" ng-init="init()">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/vis.css")"/>
	<div class="" ng-init="electionResults()">
		<div class="page-header">
			<h2>2011 General Election</h2>
		</div>
		<div class="">
			<div class="row">
				<div class="col-md-3">
					<ul id="section-links" class="nav nav-list">
						<li class="active list-group-item">
							<a href="#imap">
							Map
							<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#overview">
							Overview
							<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</li>
						<li class="list-group-item">
							<a href="#party">
							Party statistics
							<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</li>
					</ul>
					<script>
						$('a').click('#section-links', function(e) {
							//todo
						});
					</script>
				</div>
				<div class="col-md-9">
			        <div id="imap">
			            <div class="">
			                <ul class="list-group">
			                    <li class="list-group-item">
			                        <div id="county-map-view" ng-init="initMap()">
			                            <div id="imap-view" style="height: 580px"></div>
			                        </div>
			                    </li>
			                </ul>
			            </div>
			        </div>
			    </div>
		    </div>
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-9">
					<div id="overview" class="general-stats">
			        	<div class="general-heading">
			        		<div class="page-header">
				            	<h2>Overview</h2>
				            </div>
				        	<div class="general-group" ng-repeat="g in general">
					        	<b class="list-group-item-heading">{{g.constituency}}</b>
				        		<table class="table table-bordered">
				        			<tr>
				        				<th>registered electors</th>
				        				<td>{{g.registeredElectors}}</td>
				        			</tr>
				        			<tr>
				        				<th>votes</th>
				        				<td>{{g.votes}}</td>
				        			</tr>
				        			<tr>
				        				<th>turnout</th>
				        				<td>{{g.percentTurnout}}%</td>
				        			</tr>
				        			<tr>
				        				<th>invalid ballots</th>
				        				<td>{{g.invalidBallots}}</td>
				        			</tr>
				        			<tr>
				        				<th>percentage invalid</th>
				        				<td>{{g.percentInvalid}}%</td>
				        			</tr>
				        			<tr>
				        				<th>valid ballots</th>
				        				<td>{{g.validVotes}}</td>
				        			</tr>
									<tr>
										<th>percentage valid</th>
										<td>{{g.percentValid}}%</td>
									</tr>
				        		</table>
					        </div>
					    </div>
			        </div>
					<div id="party" class="party-stats">
						<div class="general-heading">
							<div class="page-header">
			            		<h2>Party Statistics</h2>
			            	</div>
				            <div class="party-group">
				            	<!--<b class="list-group-item-heading">{{c.title}}</b>-->
				            	<div id="party-vis" width="802" height="400"></div>
					            <!--
					            <table class="table table-bordered">
					            	<tbody>
					            		<th>Party</th>
					            		<th>First preference votes</th>
					            		<th>votes</th>
					            		<th>seats</th>
					            	</tbody>
					            	<tr ng-repeat="stat in p.stats">
						        		<th>{{stat.partyName}}</th>
						        		<td>{{stat.firstPreferenceVotes}}</td>
						        		<td>{{stat.percentageVote}}%</td>
						        		<td>{{stat.seats}}</td>
						        	</tr>
						        </table>
						        -->
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>