<div class="" ng-init="init()">
	<div class="" ng-init="electionResults()">
		<div class="">
			<div class="row">
				<div class="col-md-3">
					<description-directive>
						<item-directive ng-repeat="g in general">
							<h4 class="text-primary">{{g.constituency}}</h4>
							<table class="gen-table table">
			        			<tr>
			        				<th>registered electors</th>
			        				<td>{{g.registeredElectors}}</td>
			        			</tr>
			        			<tr>
			        				<th>votes</th>
			        				<td>{{g.votes}}</td>
			        			</tr>
			        			<tr>
			        				<th>turnout</th>
			        				<td>{{g.percentTurnout}}%</td>
			        			</tr>
			        			<tr>
			        				<th>invalid ballots</th>
			        				<td>{{g.invalidBallots}}</td>
			        			</tr>
			        			<tr>
			        				<th>percentage invalid</th>
			        				<td>{{g.percentInvalid}}%</td>
			        			</tr>
			        			<tr>
			        				<th>valid ballots</th>
			        				<td>{{g.validVotes}}</td>
			        			</tr>
								<tr>
									<th>percentage valid</th>
									<td>{{g.percentValid}}%</td>
								</tr>
			        		</table>
		        		</item-directive>
					</description-directive>
				</div>
				<div id="map-content" class="col-md-9">
			        <div id="imap">
			            <div class="">
			                <ul class="list-group">
			                    <li class="list-group-item">
			                        <div id="county-map-view" ng-init="initMap()">
			                            <div id="imap-view" style="height: 580px"></div>
			                        </div>
			                    </li>
			                </ul>
			            </div>
			        </div>
			        <div id="party" class="party-stats">
						<div class="general-heading">
							<div class="page-header">
			            		<h2>Party Statistics</h2>
			            	</div>
				            <div class="party-group">
				            	<stat-tab>
				            		<stat-pane ng-repeat="c in constituencies" title="{{c.title}}">
				            			<div id="{{c.title}}" width="800" height="400" vis-directive></div>
				            		</stat-pane>
				            	</stat-tab>
						    </div>
						</div>
					</div>
				</div>
			    </div>
		    </div>
		</div>
	</div>
</div>