@(title:String)(content:Html)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" >
    @scripts()
    <title>@title</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/metro-bootstrap.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/metro-bootstrap-responsive.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")"/>
</head>
<body class="metro">
    <header>
        <nav class="grid bg-green">
            <div class="row">
                <div class="span9">
                    level 1 column
                    <div class="row">
                        <div class="span6" >level 2 </div>
                        <div class="span3" >level 2 </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @content
</body>
</html>