@(message: String)

@main(message){
<div class="wrap row">
    <div class="row" ng-controller='CountyListController'>
        <script src="@routes.Assets.at("javascripts/map-controller.js")"></script>
        <!-- error message if fatal server error in application
            TO FINISH -->
        <div class="server-error" ng-repeat="error in errors">
            <h1>{{error}}</h1>
        </div>
        <div id="map-view" class="col-md-12">
            <div id="map" style="height: 650px"></div>
        </div>
    </div>
</div>
}
