    <script type="text/javascript" src="@routes.Assets.at("javascripts/d3.v3.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.0.min.js")"></script>
    <!--<script type="text/javascript" src="@routes.Assets.at("javascripts/OpenLayers.js")"></script>-->
    <!--<script type="text/javascript" src="@routes.Assets.at("javascripts/proj4js-compressed.js")"></script>-->
    <!--<script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>-->