<div class="row">
	<div class="col-md-12">
		<div id="Map">
			<div class="map-container">
				<ul id="tab-main" class="nav nav-pills">
					<li class="">
						<a href="#home" ng-click="resetToHome()">Home</a>
					</li>
		        </ul>
		        <div class="main-content" ng-switch on="county !== null">
		        	<div ng-switch-when="false">
			        	<div id="home" class="map-base">
							<map-base-directive></map-base-directive>
						</div>
					</div>
					<div ng-switch-when="true">
						<county-directive id="{{county.id}}"></county-directive>
					</div>
		        </div>
		    </div>
		</div>
	</div>
</div>
