<div ng-init="getConstituencies()">
	<div class="county-contain">
		<div ng-if="constituencies !== null">
			<div class="county-inner" ng-init="getElections()">
				<div class="county-heading-panel">
					<div class="row">
						<div class="col-md-12">
							<button type="button" class="close" aria-hidden="true" ng-click="dump()">&times;</button>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div ng-if="mainTally !== null">
								<div id="live-feed" class="list-group county-body">
									<div class="list-group-item">
										<div class="feed-nav navbar-text navbar-right">
											<div ng-if="mainTally.live">
												<div class="status">live!</div>
											</div>
										</div>
										<div class="feed-main">
											<div class="feed-header">
												<h3 class="page-header">
													{{mainTally.election.title}}
													<small>{{mainTally.election.tallyDate}}</small>
												</h3>
											</div>
											<div ng-controller="DistrictVisController">
											</div>
											<div class="list-group-item" ng-controller="DistrictsMapController">
												<div id="imap" ng-init="loadMap()">
													<div id="county-map-view">
														<div style="height: 580px"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-controller="ElectionController">
						<div class="col-md-12" ng-if="elections.length > 0 && constituencies.length > 0">
							<div class="tally-results-body">
								<div role="form">
									<div class="form-group">
										<h3 class="text-primary page-header">Previous Tally Results</h3>
										<div id="election-nav-pane" class="election-nav">
											<select ng-model="election" class="form-control"
												ng-options="e.title for e in elections">
												<option value="">-- choose election --</option>
											</select>
											<select ng-model="constituency" class="form-control"
													ng-options="c.title for c in constituencies">
													<option value="">-- choose county --</option>
											</select>
										</div>
									</div>
								</div>
								<div ng-switch on="constituency !== null && election !== null" class="container tally-container">
									<div ng-switch-when="true">
										<div ng-controller="PreviousTallyController">
											<h3 class="page-header">{{constituency.title}}</h3>
											<div id="previous-tally-vis" class="col-md-12 tally-vis">
										    	<!-- vis controller -->
										    </div>
									    </div>
									</div>
									<div ng-switch-when="false">
										<div class="alert alert-info">
											Choose an election and county to view previous tally results...
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>