<div class="canvas">
	<div class="tally-feed">
		<tally-directive data="{{target.id}}"></tally-directive>
	</div>
	<div class="list-group">
		<div class="list-group-item">
			<div class="row">
				<div ng-controller="ElectionStatController">
					<div class="col-md-4">
						<ul>
							<div ng-init="electionResults.general()">
								<constituency-table-directive ng-repeat="g in general"></constituency-table-directive>
							</div>
						</ul>
					</div>
					<div class="col-md-8">
						<div ng-switch on="renderPath[2]">
							<div ng-switch-when="ded" ng-init="constituencies()">
								<district-directive></district-directive>
							</div>
							<div ng-switch-when="ed">
								<ed-directive></ed-directive>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>