<div class="list-group">
	<div class="row list-group-item">
		<div class="">
			<div class="col-md-12">
				<div class="tally-feed">
					live tally feed here....
				</div>
			</div>
		</div>
	</div>
	<div class="row list-group-item">
		<div class="">
			<div class="content-container" ng-controller="ElectionStatController">
				<div class="col-md-4">
					<ul>
						<div ng-init="electionResults.general()">
							<constituency-table-directive ng-repeat="g in general"></constituency-table-directive>
						</div>
					</ul>
				</div>
				<div class="col-md-8">
					<div ng-switch on="renderPath[2]">
						<div ng-switch-when="ded" ng-init="electionResults.party()">
							<district-directive></district-directive>
						</div>
						<div ng-switch-when="ed">
							<ed-directive></ed-directive>
						</div>
					</div>
				</div>
		    </div>
		</div>
	</div>
</div>