<div id="map-content">
    <div id="imap">
        <div class="">
            <div class="list-group">
                <div class="list-group-item">
                    <div id="county-map-view" ng-init="initMap()">
                        <div id="imap-view" style="height: 580px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="party" class="party-stats">
		<div class="general-heading">
			<div class="page-header">
        		<h3>Party Statistics</h3>
        	</div>
            <div class="party-group">
            	<stat-tab>
            		<stat-pane ng-repeat="c in constituencies" title="{{c.title}}">
            			<div id="{{c.title}}" width="800" height="400" vis-directive></div>
            		</stat-pane>
            	</stat-tab>
		    </div>
		</div>
	</div>
</div>