<ul>
					<li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			            	<strong>Map Legend</strong>
			            	<b class="caret"></b>
			            </a>
			            <ul class="dropdown-menu legend">
			                <li>
			                	<div class="row">
			                		<div class="col-md-8">
			                			<strong>Fianna Fail</strong>
			                		</div>
			                		<div class="col-md-4">
			                			<img src="assets/images/FineFail.svg">
			                		</div>
			                	</div>
			                </li>
			                <li>
			                	<div class="row">
			                		<div class="col-md-8">
			                			<strong>Fine Gael</strong>
			                		</div>
			                		<div class="col-md-4">
			                			<img src="assets/images/FineGael.svg">
			                		</div>
			                	</div>
			                </li>
			                <li>
			                	<div class="row">
			                		<div class="col-md-8">
			                			<strong>Labour</strong>
			                		</div>
			                		<div class="col-md-4">
			                			<img src="assets/images/Labour.svg">
			                		</div>
			                	</div>
			                </li>
			                <li>
			                	<div class="row">
			                		<div class="col-md-8">
			                			<strong>Sinn Fein</strong>
			                		</div>
			                		<div class="col-md-4">
			                			<img src="assets/images/SinnFein.svg">
			                		</div>
			                	</div>
			                </li>
			                <li>
			                	<div class="row">
			                		<div class="col-md-8">
			                			<strong>Green Party</strong>
			                		</div>
			                		<div class="col-md-4">
			                			<img src="assets/images/GreenParty.svg">
			                		</div>
			                	</div>
			                </li>
			                <li>
			                	<div class="row">
			                		<div class="col-md-8">
			                			<strong>Independent</strong>
			                		</div>
			                		<div class="col-md-4">
			                			<img src="assets/images/Independent.svg">
			                		</div>
			                	</div>
			                </li>
			                <li>
			                	<div class="row">
			                		<div class="col-md-8">
			                			<strong>Other</strong>
			                		</div>
			                		<div class="col-md-4">
			                			<img src="assets/images/Other.svg">
			                		</div>
			                	</div>
			                </li>
			            </ul>
			        </li>
		        </ul>