@(constituencies: Seq[(Int, String)], loginForm: Form[helpers.LoginData], registerForm: Form[helpers.RegisterData])(implicit token: play.filters.csrf.CSRF.Token)

@import helper._
@import helper.twitterBootstrap._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" >
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/auth.css")"/>
</head>
<body id="auth" class="dim">
	<div class="container">
		<div class="auth-body" id="auth-forms">
			<div id="login" class="list-group">
				<div class="list-group-item">
					<div class="form-heading">
						<div class="row">
							<div class="col-md-6">
								<h3>Login</h3>
							</div>
							<div class="col-md-6">
								<div class="error-body">
									@if(loginForm.hasGlobalErrors) {
						                <div class="alert form-alert">
						                    @loginForm.globalError.map { error =>
						                        <p class="text-danger"><small>@error.message</small></p>
						                    }
						                </div>
						            }
					            </div>
					        </div>
				        </div>
		            </div>
					@form(action = routes.AccountController.login, 'id -> "login-form") {
	                    <div class="form-body">
	                        <div class="form-group">
	                            @input(
	                                loginForm("email"),
	                                '_showErrors -> true
	                            ) { (id, name, value, args) =>
	                                <input type="email" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
	                            }
	                        </div>
	                        <div class="form-group">
	                            @input(loginForm("password")) { (id, name, value, args) =>
	                                <input type="password" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
	                            }
	                        </div>
	                        <span>
	                            @CSRF.formField
	                        </span>
	                    </div>
					    <div class="form-group">
						    <div class="form-footer">
						        <button type="submit" class="btn btn-success">Confirm</button>
						        <span>
							        <small>not a member? <a href="" class="primary">register</a></small>
							    </span>
					   		</div>
					   	</div>
					}
				</div>
			</div>
			<div id="register" class="list-group">
				<div class="list-group-item">
					<div class="form-heading">
						<div class="row">
							<div class="col-md-6">
								<h3>Register</h3>
							</div>
							<div class="col-md-6">
								<div class="error-body">
									@if(registerForm.hasGlobalErrors) {
							            <div class="alert form-alert">
							                @registerForm.globalError.map { error =>
							                    <p class="text-danger"><small>@error.message</small></p>
							                }
							            </div>
					        		}
					        	</div>
				        	</div>
				        </div>
				    </div>
					@form(action = routes.AccountController.register, 'id -> "register-form") {
					    <div class="form-body">
							<div class="form-group">
					            @input(
					                registerForm("email"),
					                '_showErrors -> true
					            ) { (id, name, value, args) =>
					                <input type="email" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
					            }
					        </div>
					        <div class="form-group">
					            @input(
					                registerForm("name")
					            ) { (id, name, value, args) =>
					                <input type="text" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
					            }
					        </div>
					        <div class="form-group">
					            @input(
					                registerForm("constituency"),
					                '_label -> "constituency"
					            ) { (id, name, value, args) =>
					                <select name="@name" id="@id" class="form-control" @toHtmlArgs(args)>
					                    @constituencies.map { c =>
					                        <option value="@c._1">@c._2</option>
					                    }
					                </select>
					            }
					        </div>
					        <div class="form-group">
					            @input(
					                registerForm("password.main"),
					                '_label -> "password"
					            ) { (id, name, value, args) =>
					                <input type="password" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
					            }
					        </div>
					        <div class="form-group">
					            @input(
					                registerForm("password.confirm"),
					                '_label -> "confirm password"
					            ) { (id, name, value, args) =>
					                <input type="password" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
					            }
					        </div>
					        <span>
					            @CSRF.formField
					        </span>
					    </div>
					    <div class="form-body">
						    <div class="form-footer">
						        <button type="submit" class="btn btn-success">Confirm</button>
						        <span>
						        	<small>already a memeber? <a href="" class="primary">sign up</a></small>
						        </span>
						    </div>
						</div>
					}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/custom/home/account.js")"></script>
	</div>
</body>
</html>