@(loginForm: Form[LoginData], registerForm: Form[RegisterData])

<!DOCTYPE html>
<html ng-app='Ecount' ng-controller="AppController" lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" >
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <title>Ecount</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/home.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/promo.css")"/>
</head>
<body id="main">
	<header class="home-header">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="nav-container">
                <a id="brand-link" class="navbar-brand" href="">
                    <span class="brand contrast">E-Count</span>
                </a>
                <ul class="nav navbar-nav navbar-right">
	                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-toggle="modal" data-target="#login-modal" href="#">Login</a></li>
                            <li><a data-toggle="modal" data-target="#register-modal" href="#">Register</a></li>
                        </ul>
	                </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- content body -->
    <body id="content-main">
        <div class="content">
            <div class="promo">
                <div class="jumbotron">
                    <h1>Online Tally System</h1>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <div class="tease">
                    <p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register-modal" role="button">Try it out!</a></p>
                </div>
            </div>
            <div class="info">
                <div class="text-promo">
                    <h1>What is Ecount?</h1>
                    <ul class="info-list">
                        <li>
                           orem ipsum dolor sit amet, consectetur adipisicing elit
                        </li>
                        <li>
                           orem ipsum dolor sit amet, consectetur adipisicing elit
                        </li>
                        <li>
                           orem ipsum dolor sit amet, consectetur adipisicing elit
                        </li>
                    </ul>
                </div>
                <div class="text-promo">
                    <h1>Why is it Good?</h1>
                    <ul class="info-list">
                        <li>
                           orem ipsum dolor sit amet, consectetur adipisicing elit
                        </li>
                        <li>
                           orem ipsum dolor sit amet, consectetur adipisicing elit
                        </li>
                        <li>
                           orem ipsum dolor sit amet, consectetur adipisicing elit
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Auth Modals -->
            <div class="modal fade" id="register-modal" role="dialog" tab-index="-1"  aria-labelledby="register-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="register-label">Register</h4>
                        </div>
                        @helper.form(action = routes.ViewController.register) {
                            <div class="modal-body">
                                <div class="form-group">
                                    @helper.input(registerForm("name")) { (id, name, value, args) =>
                                        <input type="text" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
                                    }
                                </div>
                                <div class="form-group">
                                    @helper.input(registerForm("email")) { (id, name, value, args) =>
                                        <input type="email" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
                                    }
                                </div>
                                <div class="form-group">
                                    @helper.input(registerForm("password")) { (id, name, value, args) =>
                                        <input type="password" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
                                    }
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Confirm</button>
                            </div>
                        }
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <div class="modal fade" id="login-modal" role="dialog" tab-index="-1"  aria-labelledby="login-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="login-label">Login</h4>
                        </div>
                        @helper.form(action = routes.ViewController.login) {
                            <div class="modal-body">
                                <div class="form-group">
                                    @helper.input(loginForm("email")) { (id, name, value, args) =>
                                        <input type="email" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
                                    }
                                </div>
                                <div class="form-group">
                                    @helper.input(loginForm("password")) { (id, name, value, args) =>
                                        <input type="password" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
                                    }
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        }
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </body>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom/promo/home.js")"></script>
    <footer id="credits">
        <!-- awks will go here -->
    </footer>
</body>
</html>