@(loginForm: Form[helpers.form.LoginData],
registerForm: Form[helpers.form.RegisterData])(implicit token: play.filters.csrf.CSRF.Token)

@import helper._
@import helper.twitterBootstrap._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" >
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <title>Ecount</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/home.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/promo.css")"/>
</head>
<body id="main">
	<header>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="nav-container">
                    <a id="brand-link" class="navbar-brand" href="">
                        <span class="brand contrast">Ecount</span>
                    </a>
                    <ul class="nav navbar-nav navbar-right">
    	                <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" data-target="#login-modal" href="#">Login</a></li>
                                <li><a data-toggle="modal" data-target="#register-modal" href="#">Register</a></li>
                            </ul>
    	                </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="pin">
    	<noscript>
    		<div class="no-js container">
	    		<div class="alert alert-danger">
	    			Ecount requires <strong>javascript</strong>.
	    			please enable javascript in your browser and reload the page to continue.
	    		</div>
	    	</div>
    	</noscript>
        <div class="promo">
        	<div class="promo-body">
	            <div class="contain">
	            	<div class="container extra">
		                <div class="promo-inner">
		                    <div class="jumbotron">
		                    	<div class="details">
			                        <h1>Electronic Tally System</h1>
			                        <p class="lead">
			                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			                        </p>
			                    </div>
		                        <div class="tease">
			                        <p>
			                            <a class="btn btn-success btn-lg" data-toggle="modal" data-target="#register-modal" role="button">
			                                Try it out!
			                            </a>
			                        </p>
		                    	</div>
		                    </div>
		                </div>
		            </div>
	            </div>
	        </div>
        </div>
        <div class="info">
        	<div class="contain">
	            <div class="container">
	                <ul class="promo-sheet">
	                    <li class="text-promo">
	                        <h1>What is Ecount?</h1>
	                        <ul class="info-list">
	                            <li>
	                               orem ipsum dolor sit amet, consectetur adipisicing elit
	                            </li>
	                            <li>
	                               orem ipsum dolor sit amet, consectetur adipisicing elit
	                            </li>
	                            <li>
	                               orem ipsum dolor sit amet, consectetur adipisicing elit
	                            </li>
	                        </ul>
	                    </li>
	                    <li class="text-promo">
	                        <h1>Why is it Good?</h1>
	                        <ul class="info-list">
	                            <li>
	                               orem ipsum dolor sit amet, consectetur adipisicing elit
	                            </li>
	                            <li>
	                               orem ipsum dolor sit amet, consectetur adipisicing elit
	                            </li>
	                            <li>
	                               orem ipsum dolor sit amet, consectetur adipisicing elit
	                            </li>
	                        </ul>
	                    </li>
	                </ul>
	            </div>
	        </div>
        </div>
        <!-- Auth Modals -->
        <div class="modal fade" id="register-modal" role="dialog" tab-index="-1"  aria-labelledby="register-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="register-label">Register</h4>
                    </div>
                    @form(action = routes.AccountController.register, 'id -> "register-form") {
                        <div class="modal-body form-body">
                            <div class="form-group">
                                @input(
                                    registerForm("email"),
                                    '_showErrors -> true
                                ) { (id, name, value, args) =>
                                    <input type="email" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
                                }
                            </div>
                           	<div class="form-group">
                                @input(
                                    registerForm("password.main"),
                                    '_label -> "password"
                                ) { (id, name, value, args) =>
                                    <input type="password" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
                                }
                            </div>
                            <div class="form-group">
                                @input(
                                    registerForm("password.confirm"),
                                    '_label -> "confirm password"
                                ) { (id, name, value, args) =>
                                    <input type="password" name="@name" class="form-control" id="@id" @toHtmlArgs(args)>
                                }
                            </div>
                            <span>
                                @CSRF.formField
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="submit btn btn-success">Confirm</button>
                        </div>
                    }
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="login-modal" role="dialog" tab-index="-1"  aria-labelledby="login-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="login-label">Login</h4>
                    </div>
                    @form(action = routes.AccountController.login) {
                        <div class="modal-body">
                            <div class="form-group">
                                @input(
                                    loginForm("email"),
                                    '_showErrors -> true
                                ) { (id, name, value, args) =>
                                    <input type="email" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
                                }
                            </div>
                            <div class="form-group">
                                @input(loginForm("password")) { (id, name, value, args) =>
                                    <input type="password" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
                                }
                            </div>
                            <span>
                                @CSRF.formField
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Continue</button>
                        </div>
                    }
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </main>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom/home/main.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/custom/home/useful.js")"></script>
    <footer id="credits">
        <!-- awks will go here -->
    </footer>
</body>
</html>