<!DOCTYPE !html>
<html ng-app="Ecount" ng-controller="AppController" lang="en">
<head>
	<meta charset="UTF-8" >
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" >
	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/angular-animate.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/angular-route.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/d3.v3.min.js")"></script>
	<title>Ecount Portal</title>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/main.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/extension.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/vis.css")"/>
</head>
<body class="pool">
	<div class="account-header">
		<div class="container">
			<div class="navbar-inner" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						Ecount 
						<small>portal</small>
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li id="account-dropdown" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Edit</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
					<script>
						(function() {
							$("a").click('#account-dropdown', function(e) {
								e.preventDefault();
							});
						})();
					</script>
				</ul>
			</div>
	    </div>
    </div>
	<div class="content-main">
	    <div id="interactive-main">
        	<map-directive></map-directive>
        </div>
	    <!--map dependencies-->
		<script src="@routes.Assets.at("javascripts/custom/portal/map/util/map-util.js")"></script>
		<script src="@routes.Assets.at("javascripts/custom/portal/map/county/map-county-vis.js")"></script>
		<script src="@routes.Assets.at("javascripts/custom/portal/map/election/map-elections.js")"></script>
		<script src="@routes.Assets.at("javascripts/custom/portal/map/base/map.js")"></script>
		<script src="@routes.Assets.at("javascripts/custom/portal/map/county/map-county.js")"></script>
		<!--account dependencies-->
		<script src="@routes.Assets.at("javascripts/custom/portal/core/home/util/account-util.js")"></script>
		<script src="@routes.Assets.at("javascripts/custom/portal/core/home/account.js")"></script>
		<!--main-->
		<script src="@routes.Assets.at("javascripts/custom/portal/core/ecount.js")"></script>
	</div>
</body>
</html>