@(authForm:Form[models.ecount.tallysys.RepresentativeAccount])(implicit request:play.api.mvc.RequestHeader, token:play.filters.csrf.CSRF.Token)


@import helper._
@import helper.twitterBootstrap._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>Tally System Authentication</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/home.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/auth.css")"/>
</head>
<body id="tallyAuth" class="dim">
	<div class="contain">
		<div class="container">
			<div class="auth-body">
				<div id="tally-verification" class="list-group">
					<div class="list-group-item">
						<div class="form-heading">
							<div class="row">
								<div class="col-md-6">
									<h3>Authentication</h3>
								</div>
								<div class="col-md-6">
									<div class="error-body">
										@if(authForm.hasGlobalErrors) {
							                <div class="alert form-alert">
							                    @authForm.globalError.map { error =>
							                        <p class="text-danger"><small>@error.message</small></p>
							                    }
							                </div>
							            }
						            </div>
						        </div>
						    </div>
					        @form(action = routes.TallyController.access) {
					        	<div class="form-body">
			                        <div class="form-group">
			                        	@input(
			                            	authForm("username"),
			                            	'_showErrors -> true
			                            ) { (id, name, value, args) =>
			                                <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
			                            }
			                        </div>
			                        <div class="form-group">
			                        	<div class="row">
			                        		<div class="col-md-6">
			                        			@input(
					                            	authForm("fname"),
					                            	'_showErrors -> true
					                            ) { (id, name, value, args) =>
					                                <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
					                            }
			                        		</div>
			                        		<div class="col-md-6">
			                        			@input(
					                            	authForm("surname"),
					                            	'_showErrors -> true
					                            ) { (id, name, value, args) =>
					                                <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
					                            }
			                        		</div>
			                        	</div>
			                        </div>
			                        <div class="form-group">
			                        	@input(
			                            	authForm("password.main"),
			                            	'_label -> "password"
			                            ) { (id, name, value, args) =>
			                                <input type="password" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
			                            }
			                        </div>
			                        <div class="form-group">
			                        	@input(
			                            	authForm("password.confirm"),
			                            	'_label -> "confirm password"
			                            ) { (id, name, value, args) =>
			                                <input type="password" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
			                            }
			                        </div>
			                        <div class="form-group">
			                        	@input(
			                            	authForm("ballot box"),
			                            	'_showErrors -> true
			                            ) { (id, name, value, args) =>
			                                <select type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
			                                	@if(request.cookies.get("verificationKey").isDefined) {
			                                		@helpers.TallyFormHelper.getBallotBoxes(request.cookies.get("verificationKey").get.value).map { ballotBox =>
			                                			<option value="@ballotBox.id">@ballotBox.title</option>
			                                		}
			                                	}	
			                                </select>
			                            }
			                        </div>
			                        <span>
			                            @CSRF.formField
			                        </span>
			                    </div>
							    <div class="form-group">
								    <div class="form-footer">
								        <button type="submit" class="btn btn-success">create account</button>
								   		<span class="suggestion">
							        		<small>coming back? <a href="" class="primary">login here</a></small>
							        	</span>
							   		</div>
							   	</div>
					        }
					   	</div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</body>
</html>