@(election: models.stat.Election, candidates:List[models.stat.ElectionCandidate])(implicit token:play.filters.csrf.CSRF.Token)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.0.min.js")"></script>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/home.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/custom/dashboard.css")"/>
</head>
<body class="dim">
	@homeNav()
	<div class="contain">
		<div class="container">
			<div id="dashboard">
				<div class="list-group">
					<div id="dash-main" class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								<h3>@election.title</h3>
							</div>
							<div id="error-info" class="col-md-6"></div>
						</div>
						<ul id="candidates" class="list-group-item">
							@candidates.map { candidate =>
								<div class="candidate-entry" data-candidate-id="@candidate.id" data-candidate-name="@candidate.name" data-candidate-party="@candidate.party">
									<a href="#">
										<div class="candidate-inner list-group-item">
											<ul class="list-inline">
												<li class="candidate-left">
													<h3 class="text-primary candidate-name"></h3>
												</li>
												<li>
													<span class="candidate-tally text-primary"></span>
												</li>
											</ul>
										</div>
									</a>
								</div>
							}
						</ul>
						<div class="form-footer">
							<button id="confirm-tally" type="button" class="btn btn-success btn-lg btn-block">Publish</button>
						</div>
					</div>
					<script type="text/javascript" src="@routes.Assets.at("javascripts/custom/tallysys/dashboard.js")"></script>
				</div>
			</div>
		</div>
	</div>
</body>
</html>