.county-search {
	margin: 0 auto;
}

a.contrast {
	cursor: pointer;
}

.sea {
	border: none;
	background-color: hsla(220, 40%, 100%, 1);
	box-shadow: -1px 0px 6px hsla(220, 40%, 100%, 1);
	border-bottom: 2px solid #EEE;
}

#top a {
	color: #428BCA;
}

.content-container {
	padding: 1% 0;
}

.nav-container {
	padding: 0 5%;
}

.hide {
	visibility: hidden;
}

.imap-info {
    padding: 3px 6px;
    font: 11px/13px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.imap-info h4 {
    margin: 0 0 2px;
    color: #777;
}

.imap-info-entry p {
	color: #555;
}

.imap-elec-year {
	margin: 0 0 2px;
	color: #77A;
}

.imap-elec-year:hover {
	cursor: pointer;
}

.stats {
	font: 12px/14px Arial, Helvetica, sans-serif;
}

.general-heading h4, b {
	margin: 0 0 2px;
    color: #777;
}

.page-header > h1, .page-header > h3 {
	color: #5A5A5A
}