.county-search {
	margin: 0 auto;
}

a.contrast {
	cursor: pointer;
}

.sea {
	border: none;
	background-color: hsla(220, 10%, 45%, 1);
	box-shadow: -1px 0px 10px hsla(220, 10%, 45%, 1);
}

.top {
 margin: 1% 0;
}

#top a {
	color: #fff;
}

.content-container {
	padding: 1% 0;
}

.hide {
	visibility: hidden;
}

.imap-info {
    padding: 6px 8px;
    font: 11px/13px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.imap-info h4 {
    margin: 0 0 2px;
    color: #777;
}

.imap-info-entry p {
	color: #555;
}

.imap-elec-year {
	margin: 0 0 2px;
	color: #77A;
}

.imap-elec-year:hover {
	cursor: pointer;
}