
/**
*   Font Face
*/

@font-face {
    font-family: 'Quicksand';
    src: url('./../font/Quicksand-Regular.otf');
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
}

/**
*   General Styles
*/
.wrap { width: 100%; margin: 0 auto; padding: 0 }

.right {
	float: right;
}

.left{
	float: left;
}

/**
*   Section Styles
*/

/*      Top Header     */
body > header {
    width: 100%;
    float: left;
    background-color: hsla(120, 40%, 45%, 1);
}

#top {
    width: 100%;
    color: #fafafa;
}

#top ul {
    float: right;
    width: 30%;
    padding: 2%;
    text-align: right;
}

#top ul li {
    display: inline;
    padding: 0 2%;
}

/*   Main   */
main {
    clear: both;
    float: none;
}

/*   Interactive Map Aside   */

#county-labels {
	position: absolute;
	top: 0;
    font-size: 0.75em;
    width: 250px;
    text-align: center;
}

.county-label {
    padding: 2% %5;
    cursor: pointer;
}

/**
*   Footer
*/

body > footer {
    clear: both;
    background-color: hsla(120, 10%, 8%, 1);
    padding: 0 0 5% 0;
}

/**
*   Media Queries
*/