
/**
*   Font Face
*/

@font-face {
    font-family: 'Quicksand';
    src: url('./../font/Quicksand-Regular.otf');
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
}

/**
*   General Styles
*/
.wrap { width: 90%; margin: 0 auto; padding: 0 }

/*      Top Header     */

#top {
  width: 100%;
}


#nets {
    width: 50%;
    float: right;
    padding: 2%;
    text-align: right;
}

#nets ul li {
    display: inline;
    padding: 0 2%;
}

/*   Main   */
#main {
    clear: both;
    float: none;
    width: 100%;
}

#content-main, #top {
    clear: both;
    float: none;
    width: 95%;
    margin: 0 auto;
}

/**
*   Footer
*/

body > footer {
    clear: both;
    background-color: hsla(120, 10%, 8%, 1);
    padding: 0 0 5% 0;
}

/***
 *  Errors
 */
.server-error {

}

.server-error h1 {

}

/**
*   Media Queries
*/