html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; color: #ffffff }

/**
*   General Styles
*/
.wrap { width: 86%; margin: 0 auto; padding: 0 }

/**
*   Section Styles
*/
#map { height: 100%; margin: 0; padding: 0; }

/**
*   Media Queries
*/